<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="demomoraandina">
        <wb-resource deploy-path="/" source-path="/EarContent" tag="defaultRootSource"/>
        <dependent-module archiveName="demomoraandinaEJB.jar" deploy-path="/" handle="module:/resource/demomoraandinaEJB/demomoraandinaEJB">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="demomoraandinaWeb.war" deploy-path="/" handle="module:/resource/demomoraandinaWeb/demomoraandinaWeb">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
