<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-sacaleble=no" />
		<title>Manejo de datos estudiantiles</title>
	</f:facet>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form id="form">
		<p:messages>
			<p:autoUpdate />
		</p:messages>
		<p:panel header="Registro de nuevo estudiante">
			<p:panelGrid columns="2">
				<h:outputText value="Cédula" />
				<p:inputText value="#{beanNuevoEstudiante.cedula}" />
				<h:outputText value="Apellidos" />
				<p:inputText value="#{beanNuevoEstudiante.apellido}" />
				<h:outputText value="Nombres" />
				<p:inputText value="#{beanNuevoEstudiante.nombres}" />
				<h:outputText value="Edad" />
				<p:spinner value="#{beanNuevoEstudiante.edad}" />
				<p:commandButton value="Insertar" icon="pi pi-save"
					actionListener="#{beanNuevoEstudiante.actionGuardarEstudiante()}"></p:commandButton>
			</p:panelGrid>
		</p:panel>
	</h:form>
	<h:form id="form2">
		<p:panel header="Datos estudiantiles">
			<p:dataTable value="#{beanEstudiante.listaEstudiante}"
				var="estudiante" reflow="true">
				<p:column headerText="CEDULA">
					<h:outputText value="#{estudiante.cedula}" />
				</p:column>
				<p:column headerText="APELLIDOS">
					<h:outputText value="#{estudiante.apellidos}" />
				</p:column>
				<p:column headerText="NOMBRES">
					<h:outputText value="#{estudiante.nombres}" />
				</p:column>
				<p:column headerText="EDAD">
					<h:outputText value="#{estudiante.edad}" />
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>
</body>
</html>
